# Ignorar configuraciones de VSCode
.vscode

# Ignorar archivos de Docker Compose
docker-compose.yml
docker-compose-dev.yml

# Ignorar node_modules
node_modules

# Ignorar archivos de base de datos
.db-*

# Ignorar archivos de ejemplo de entorno
.env.example

# Asegúrate de ignorar también archivos de datos específicos
.db-data
